<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=decice-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <section class="background firstSection">
            <div class="box-main">
                <div class="firstHalf">
                    <p class="text-big">Hello!</p>
                    <p class="text-small">I have developed this website for my college project.
                        <br>My name is Shallun King Monteiro. I live in Thane, Maharashtra, India.
                        <br>Thank you for visiting kindly leave any suggestions through the contact information given
                        below.
                        <br> Email: shallunkingmonteiro@gmail.com
                        <br> Phone: +91 9757479333(available on WhatsApp as well as Telegram.)
                        <br> GitHub: <a href="https://github.com/ShallunMonteiro"
                            onclick=window.open('https://github.com/ShallunMonteiro','_self')>ShallunMonteiro</a>
                        <br> LinkedIn: <a href="https://www.linkedin.com/in/shallun-monteiro-190428211/"
                            onclick=window.open('https://www.linkedin.com/in/shallun-monteiro-190428211/','_self')>Shallun
                            Monteiro</a>
                        <br> Instagram: <a href="https://www.instagram.com/shallun_king_monteiro/"
                            onclick=window.open('https://www.instagram.com/shallun_king_monteiro/','_self')>shallun_king_monteiro</a>
                </div>
                <div class="secondHalf">
                    <img class="portrait" src="img/shallun00.jpg" alt="Self-Portrait">
                </div>
            </div>
        </section>

    </div>

    {{>footer}}
</body>

</html>