<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=decice-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <section class="background firstSection">
            <div class="box-main">
                <div class="firstHalf">
                    <p class="text-big">Hello!</p>
                    <p class="text-small">This site was created by Shallun King Monteiro.
                        <br>VK Krishna Menon College, Mumbai, Maharashtra, India.
                        <br>It uses data from Mapbox.com and WeatherStack.com for the forecast.
                        <br>Thank you for visiting.
                        <br>Kindly leave any suggestions through the contact information given below.
                        <br>You can also click on the links to be redirected to the profile.
                        <br><br> Contact:
                        <br>&emsp;&emsp;&emsp; &ensp; Email &emsp;&emsp;: shallunkingmonteiro@gmail.com
                        <br>&emsp;&emsp;&emsp; &ensp; Phone &emsp;&ensp;: +91 9757479333
                        <br>&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &ensp;&ensp;&ensp; (WhatsApp,
                        Telegram.)
                        <br>&emsp;&emsp;&emsp; &ensp; GitHub &emsp;&ensp;:
                        <a href="https://github.com/ShallunMonteiro"
                            onclick=window.open('https://github.com/ShallunMonteiro','_self')>ShallunMonteiro</a>
                        <br>&emsp;&emsp;&emsp; &ensp; LinkedIn &ensp;&nbsp;:
                        <a href="https://www.linkedin.com/in/shallun-monteiro-190428211/"
                            onclick=window.open('https://www.linkedin.com/in/shallun-monteiro-190428211/','_self')>Shallun
                            Monteiro</a>
                        <br>&emsp;&emsp;&emsp; &ensp; Instagram &nbsp;: <a
                            href="https://www.instagram.com/shallun_king_monteiro/"
                            onclick=window.open('https://www.instagram.com/shallun_king_monteiro/','_self')>shallun_king_monteiro</a>
                </div>
                <div class="secondHalf">
                    <img class="portrait" src="img/shallun00.jpg" alt="Self-Portrait">
                </div>
            </div>
        </section>

    </div>

    {{>footer}}
</body>

</html>