<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=decice-width, initial-scale=1.0">
    <title>AnyWeather-Your weather buddy.</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>

</head>

<body>
    {{>header}}
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">Welcome to AnyWeather.</p>
                <p class="text-small">Your one stop solution for your daily
                    weather forecast and making it easier for you to plan your day accordingly.
                    <br> Click on the Weather button on the Navigation Pane.
                </p>
            </div>
            <div class="secondHalf">
                <img src="img/img2.jpg" alt="future image">
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>