<header>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo">
                <img class="logo" src="img/icon.png" alt="logo">
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/about">About</a></li>
            {{!-- <li><a href="/help">Help</a></li> --}}
        </ul>
</header>